
body{
    background-color:rgb(160, 241, 210) ;
    color:black
    font-family: Aril, sans-serif;
}

header{
    background-color: aquamarine;
    color:azure
    text-align:center;
    padding: 30px;
}

h1{
    font-size: 36px; 
}

h2{
    color: beige;
}

p{
font-size: 18px;
line-height: 1.6;
}