
body{
    background-color:rgb(236, 243, 240) ;
    color:black
    font-family: Aril, sans-serif;
}

header{
    background-color:black;
    color:black
    text-align:center;
    padding: 30px;
}

h1{
    font-size: 36px; 
}

h2{
    color: rgb(240, 240, 154);
}

p{
font-size: 18px;
line-height: 1.6;
}